apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: messaging
      version: green # Specific label for green
  template:
    metadata:
      labels:
        app: messaging
        version: green
    spec:
      containers:
      - name: django
        image: your-docker-username/django-messaging-app:v2.0 # Updated image
        ports:
        - containerPort: 8000