apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: messaging
      version: blue # Specific label for blue
  template:
    metadata:
      labels:
        app: messaging
        version: blue
    spec:
      containers:
      - name: django
        image: your-docker-username/django-messaging-app:v1.0
        ports:
        - containerPort: 8000